/**
 * Styles for fixed position toolbar
 */

#toolbar {
	.clearfix();
	//Behavior for Mobile
	position: fixed;
	z-index: 1000;
	top: 0;
	left: 0;
	width: 100%;
	height: @toolbar-height;

	background-color: @brand-primary;
	.box-shadow(0 2px 2px rgba(0,0,0,0.15), 0 0 15px 3px rgba(0,0,0,0.24););


	//Behavior for Tablets
	@media screen and (min-width: @screen-sm-min) { 

	}
	//Behavior for Desktops
	@media screen and (min-width: @screen-md-min) {

	}
}

#toolbar_brand { 
	position: absolute;
	left: 50%;
	.translate(-50%, 0);

	color: fade(#fff,90%);
	line-height: @toolbar-height;
	font-family: @headings-font-family;
	font-size: @font-size-h1;
	font-weight: 700;
	white-space: nowrap;
} 	


/*
.toolbar-button { 
	.box-sizing(border-box);
	display:block;
	float: left;
	position: relative;
	width: 60px;
	height: 60px;
	overflow: hidden;

	padding: 5px;
	margin-top: 10px; 

	background: rgba(0,0,0,0.2);
	border: none;
	border-radius: 50%;

	.box-shadow(inset -1px 1px 3px rgba(0,0,0,0.2), 1px 1px 1px fade(@brand-primary-lighter, 40%););
	
	&.is-pressed {
		background: transparent;
	}

	&:focus { outline: 0; }
}
*/

.toolbar-button { 
	.box-sizing(border-box);
	border: 0;
	.box-shadow(none);
	&:focus { 
		outline: 0; 
	}
}

#sidebar_toggle_button { 
	
	background: transparent;
	padding-top: 22px;
	margin: 0;
	height: 50px;

	.hamburger-bar { 
		display: block;
		position: relative;
		left: 0;
		width: 50px;
		height: 8px;
		border-radius: 2px;
		background: fade(#fff, 90%);
		margin: 6px auto 0;
		.transition(left .15s ease-in, color .15s, width .15s .2s;);

		&:nth-of-type(1) { 
			.transition-delay(.04s);
			margin-top: 0;
		}
		&:nth-of-type(2) {
			.transition-delay(.08s); 

		}
		&:nth-of-type(3) { 
			.transition-delay(.12s);
		}

	}

	&.is-pressed .hamburger-bar { 
		left: -10px;
		width: 30px;
		background: lighten(@brand-primary, 30%);

	}

	&:hover {

		.hamburger-bar { 
			background: lighten(@brand-primary, 30%);
		}

		&.is-pressed .hamburger-bar { 
			background: fade(#fff, 90%);
			width: 32px;
			left: -8px;
		}
	}

}