.nav-block-list { 
	display: block;
	padding-left: 0;
	list-style: none;
}
.nav-block-item { 
	display: block;
	cursor: pointer; 

	&.disabled { 
		.opacity(.5);
		cursor: not-allowed;
	}
}
.nav-block-list .nav-block-list { 
	padding-left: .5em;
}