#sidebar_left { 
	display: block;
	position: absolute;
	z-index: 500;
	left: -1000px;
	width: 96%;
	height: 100%;
	padding: @sidebar-padding;
	background-color: @sidebar-background;
	color: @brand-tertiary;
	.transition(left @sidebar-flyin-timing);
	@media screen and (min-width: @screen-sm-min) {
		width: @sidebar-width;
	}
	@media screen and (min-width: @screen-md-min) { 
		position: fixed;
	}

	.nav-block-list.js-toggle-target { 
		.opacity(0);
		.transition(opacity .2s); 

		&.is-active-toggle { 
			.opacity(1);
		}
	}

	//General Styles for all #sidebar_left nav-block-items
	.nav-block-item {
		position: relative;
		padding: 8px 32px 8px 30px;
		font-family: @headings-font-family;
		font-size: .9em;
		line-height: 1.6;		
		color: fade(#fff,85%);
		

		&.is-pressed {
			color: #fff;			
		}

		&.is-hovered { 
			color: #fff;	
		}

		&.disabled:before { display:none; content: "" }

		&:before { 	
			position: absolute;	
			display: block;
			width: 20px;
			height: 20px;
			top: .8em;
			left: -20px;
			color: #fff;
			.opacity(0);
			font-size: .8em;
			content: "\f0da";
			font-family: FontAwesome;
			.transition(left .2s .05s, opacity .2s .05s;);
		}

		&.is-hovered:before { 
			left: -10px;
			.opacity(1);
		}

		//Toggle Arrow Styles
		&.js-toggle:after { 
			position: absolute;
			width: 28px;
			height: 28px;
			top: .8em;
			right: 5px;
			padding-left: 3px;
			color: fade(#fff,65%);
			font-size: .8em;
			content: "\f053";
			font-family: FontAwesome;

			.transition(transform .2s);
		}

		&.js-toggle.is-hovered:after { 
			color: fade(#fff,90%);
		}

		&.js-toggle.is-pressed:after { 
			.rotate(-90deg);
		}

	}

	//Descendent Elements
	.nav-block-item { 
		margin-right: -32px;
	}

	/** 
	* Shallow selector for just parent nav-block-items
	* Adding behavior on click/hover
	* Increasing font-size / line-height
	*/
	& > .nav-block-list > .nav-block-item { 
		margin-left: @sidebar-padding * -1;
		margin-right: @sidebar-padding * -1;
		background: @sidebar-background;		
		border: 0;
		border-right-width: 0;
		border-style: solid;
		border-right-color: @sidebar-background;
		font-size: @font-size-h3;
		line-height: 1.8;		
		.transition(background .8s .05s, border-right-width .2s, border-right-color .3s .1s;)

		&:before { 
			content: ""; 
			display: none;
		}

		&.is-hovered { 			
			background: mix(@sidebar-background, @brand-primary, 90%);
		}

		&.is-pressed { 
			margin-right: @sidebar-padding * -1.5; 	
			border-right-width: 5px;
			border-right-color: @brand-primary;
			background: mix(@sidebar-background, @brand-primary, 70%);

			&:hover { 
				margin-right: (@sidebar-padding * -2);
				border-right-width: 10px;
			}
		}

	}
}

#sidebar_left.is-active-toggle {
	left: 0;
	.transition(left .2s ease-out);
	.box-shadow(1px 0 3px rgba(0,0,0,0.1), 3px 0 8px 2px rgba(0,0,0,0.28););
}

