#dashboard_content { 
	padding-top: 3em;
	padding-bottom: 2em;
	width: 100%;
	float: left;
	
	.transition(margin-left @sidebar-flyin-timing, margin @sidebar-flyin-timing;);
}

#sidebar_left.is-active-toggle + #dashboard_content { 
	margin-left: 0;
	@media screen and (min-width: @screen-md-min) { 
		
		margin-left: @sidebar-width;
		width: ~"calc(100% - @{sidebar-width})";		
	}
}

.db-cont { 
	position: relative;
	overflow: hidden;
	padding: 1em;
	margin-bottom: 1em;
	background: @brand-tertiary;
	border-radius: 3px;
	.box-shadow(@box-shadow);
}

.db-cont-titlebar { 
	.clearfix();
	margin: -1em -1em 1.5em;
	position: relative;
	height: 50px;
	background: @brand-secondary;
	text-align: right;

}

.db-cont-title {
	padding-left: 1em;
	white-space: nowrap;
	position: absolute;
	left: 0;
	top: 50%;
	.translate(0, -50%);	 
	font-family: @headings-font-family;
	font-size: @font-size-h4;
	color: @brand-tertiary;
}

.db-cont-toolbar { float: right; }
.db-cont-toolbar-icon { 

	&:first-of-type:before { 
		content: "";
		position: absolute;
		top:0;
		right: ~"calc(100% + 2px)";
		height: 50px;
		width: 30px;
		margin:0;
		padding:0;
		#gradient.horizontal(transparent, @brand-secondary);
	}

	position: relative;
	float: left;
	display: block;
	height: 50px;
	width: 50px;
	margin: 0;
	padding: 3px;
	color: fade(#fff,90%);
	border: 0;
	border-left: 2px solid darken(@brand-secondary, 6%);
	border-right: 2px solid lighten(@brand-secondary, 3%);
	background: @brand-secondary;
	vertical-align: middle;
	text-align: center;
	font-size: 25px;

	&.is-hovered { 
		background: mix(@brand-secondary, @brand-primary, 70%);
	}
	&.is-hovered i { 
		color: #fff;
		.transition(transform .2s);
	}

	&.is-pressed i { 
		.rotate(90deg);
	}

	&:focus { 
		outline: 0;
	}
}