.big-button { 
	color: fade(#fff,90%);
	background: @brand-primary;
	padding: 10px;
	font-family: @headings-font-family;
	font-size: @font-size-h3;
	border: 0;
	.box-shadow(@box-shadow);

	&:hover { 
		color: #fff;		
	}
	&:focus { 
		outline: 0;
	}
}