//
// Variables
// --------------------------------------------------

//== Colors
//
//##
@brand-primary:         	#167FD7;
@brand-primary-lighter: 	lighten(@brand-primary, 25%);
@brand-primary-darker:  	darken(@brand-primary, 25%);
@brand-secondary:       	#222;
@brand-secondary-lighter: 	lighten(@brand-secondary, 10%);
@brand-secondary-darker:  	darken(@brand-secondary, 10%);
@brand-tertiary: 			#f6f6f6;


//== Scaffolding
//
//## Settings for some of the most global styles.

//** Background color for `<body>`.
@body-bg:               #e5e5e5;
//** Global text color on `<body>`.
@text-color:            @gray-dark;

//** Global textual link color.
@link-color:            @brand-primary;
//** Link hover color set via `darken()` function.
@link-hover-color:      darken(@link-color, 15%);


//== Typography
//
//## Font, line-height, and color for body text, headings, and more.
@headings-font-family:    'Montserrat', @font-family-base;


// Toolbar
@toolbar-height: 	80px;
// Sidebar
@sidebar-width:		400px;
@sidebar-padding:	10px;
@sidebar-background: @brand-secondary;
@sidebar-flyin-timing: .27s;

@box-shadow:	0 0 3px 1px rgba(0,0,0,0.1), 0 0 10px 5px rgba(0,0,0,0.1);